<section>
  <app-container>
    <ng-container>
      <h1 class="tui-text_h1">{{ company$.fullName }}</h1>
      <p class="tui-text_body-xl">Короткое название: {{ company$.shortName }}</p>
      <p class="tui-text_body-xl">Инн: {{ company$.inn }}</p>
      <p class="tui-text_body-xl">КПП: {{ company$.kpp }}</p>
      <p class="tui-text_body-xl">Почтовый адрес: {{ company$.postAddress }}</p>
      <p class="tui-text_body-xl">Фактический адрес: {{ company$.factAddress }}</p>
    </ng-container>
  </app-container>
</section>
